#LateX
*.toc 
*.log
*.aux
#BibTex
*.bbl 
*.blg
#Hyperref
*.out
#Glossary
*.glo
*.glg
*.gls
#index
*.idx
*.ilg
*.ind
#latexmk tool
*.fdb_latexmk
#List
*.lof
*.lot
#endfloat
*.fff
#svn-multi
*.svn
*.dvt
*.svx
#standalone
*.sta
*.stp
#Other
*.run.xml
*.ist
*.acn
*.acr
*.alg
*.dvi
*.maf
*.mtc
*.mtc1
*.synctex.gz